<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConvicartWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConvicartWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    @Html.Partial("_header")
    <div class="baset">
        @* Conditionally render the sidebar only on specific actions *@
        @if (ViewContext.RouteData.Values["controller"].ToString() == "Store" ||
        ViewContext.RouteData.Values["controller"].ToString() == "Home" &&
        ViewContext.RouteData.Values["action"].ToString() == "Recipe")
        {
            <div>
                @Html.Partial("_VerticalSideNav")
            </div>
        }

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    @Html.Partial("_footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
