@model ConvicartWebApp.Models.Store 
<div class="nutrient-info">
    <ul class="list-unstyled">
        <li><strong>Price:</strong> @Model.Price.ToString("C")</li>
        <li><strong>Quantity:</strong> @Model.Quantity g</li>
        <li><strong>Carbs:</strong> @Model.Carbs g</li>
        <li><strong>Proteins:</strong> @Model.Proteins g</li>
        <li><strong>Vitamins:</strong> @Model.Vitamins g</li>
        <li><strong>Minerals:</strong> @Model.Minerals g</li>
        <li><strong>Rating:</strong> @Model.Rating</li>
    </ul>
</div>
